<!DOCTYPE html>
<html>
<head>
 <title>تغییر رمز عبور</title>
 <{% load static %}
 <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
 <body>
<h1>تغییر رمز عبور</h1>
<br><br>
{% if user.is_authenticated %}
<div class="form-group">
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary">تغییر رمز عبور</button>
{% else %}
<h1>دسترسی ممنوع</h1>
<p>شما به این صفحه دسترسی ندارید</p>
{% endif %}
 </body>
 </html>