<!DOCTYPE html>
<html>
<body>
<br><br>
<a href="{% url 'index' %}">first page</a>
<br><br>
<table border="1">
{% for x in mymembers %}
<tr>
<td>{{ x.name }}</td>
<td>{{ x.gender }}</td>
<td>{{ x.start_time }}</td>
<td>{{ x.end_time }}</td>
<td>{{ x.line }}</td>
<td>{{ x.surgery }}</td>}}</td>
<td>{{ x.internal }}</td>}}</td>
<td>{{ x.pediatrics }}</td>}}</td>
<td>{{ x.gynocology }}</td>}}</td>
<td>{{ x.ortopedix_one }}</td>}}</td>
<td>{{ x.ortopedix_two }}</td>}}</td>
<td>{{ x.urology_one }}</td>}}</td>
<td>{{ x.urology_two }}</td>}}</td>
<td>{{ x.minor_week_one }}</td>}}</td>
<td>{{ x.minor_week_two }}</td>}}</td>
<td>{{ x.minor_week_three }}</td>}}</td>
<td>{{ x.minor_month_one }}</td>}}</td>
<td>{{ x.minor_month_two }}</td>}}</td>
<td>{{ x.minor_month_three }}</td>}}</td>
<td>{{ x.pack_one }}</td>}}</td>
<td>{{ x.pack_two }}</td>}}</td>
<td>{{ x.pack_three }}</td>}}</td>
</tr>
{% endfor %}
</table>
<br><br>
<a href="{% url 'index' %}">first page</a>
<br><br>
</body>
</html>
